<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <form action="/mahasiswa/update/<%= id %>" method="POST">
      <div clas="mb-3">
        <label for="nama" class="form-label">nrp</label>
        <input type="text" class="form-control" name="nrp" value="<%= nrp %>" required/>
    </div>
    <div clas="mb-3">
      <label for="nama" class="form-label">nama depan</label>
      <input type="text" class="form-control" name="nama_depan" value="<%= nama_depan%>" required/>
  </div>
  <div clas="mb-3">
    <label for="nama" class="form-label">nama belakang</label>
    <input type="text" class="form-control" name="nama_belakang" value="<%= nama_belakang %>" required/>
</div>
<div class="mb-3">
  <label for="gender" class="form-label">Gender</label>
  <select class="form-control" name="jenis_kelamin" value="<%= jenis_kelamin%>" required>
      <option value="">Pilih Gender</option>
      <option value="laki-laki">Laki-laki</option>
      <option value="perempuan">Perempuan</option>
  </select>
</div>
<div class="mb-3">
  <label for="agama" class="form-label">Agama</label>
  <select class="form-control" name="agama" value="<%= agama %>" required>
      <option value="">Pilih Agama</option>
      <option value="Islam">Islam</option>
      <option value="Kristen">Kristen</option>
      <option value="Hindu">Hindu</option>
      <option value="Budha">Budha</option>
  </select>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">umur</label>
<input type="text" class="form-control" name="umur" value="<%= umur %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">tinggi</label>
<input type="text" class="form-control" name="tinggi" value="<%= tinggi_badan %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">gol.darah</label>
<input type="text" class="form-control" name="gol_darah" value="<%= gol_darah %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">alamat</label>
<input type="text" class="form-control" name="alamat" value="<%= alamat %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">hobi</label>
<input type="text" class="form-control" name="hobi" value="<%= hobi %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">email</label>
<input type="text" class="form-control" name="email" value="<%= email %>" required/>
</div>
<div clas="mb-3">
<label for="nama" class="form-label">no.hp</label>
<input type="text" class="form-control" name="no_telpon" value="<%= no_telpon %>" required/>
</div>
    <div class="mb-3">
        <button type="submit" class="btn btn-sm btn-success">simpan</button>
    </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>